body {
    background-color: lightblue;
}

.header {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

img {

    width: 200px;
}

.card {
    background-color: lightslategray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid black 2px;
}

.card:hover {
    box-shadow: 10px 10px 10px;
}